.header {
  background-color: var(--black-color);

  &__container {
    position: relative;
    padding: 1em;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 1400px) {
      top: 2em;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 1em;
    @media screen and (min-width: 768px) {
      gap: 6em;
    }
  }
  &__toggle {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  &__image {
    width: 3em;
  }
  &__title {
    font-size: clamp(0.7rem, 2vw, 1rem);
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: flex;
    gap: 1em;
  }
  &__item {
  }
  &__link {
    width: 1.5em;
  }
  &__icon {
  }

  &__nav {
    @media screen and (max-width: 768px) {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      background-color: var(--white-color);
      width: 100%;
      padding: 0.5em;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      font-weight: 600;
      @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 1em;
      }
    }
    &-item {
    }
    &-link {
      transition: all 0.3s ease;
      @media (hover: hover) {
        &:hover {
          color: var(--mustard-color);
        }
      }
    }
  }
  &__nav--active {
    transform: translateY(60%);
    background-color: var(--white-color);
    z-index: 1;
  }
  &__close {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
