@use './reset/reset';
@use './pages/header';
@use './pages/home';
@use './pages/date';
@use './pages/about';
@use './pages/rooms';
@use './pages/intro';
@use './pages/features';
@use './pages/foods';
@use './pages/footer';

//PAGES
@use './pages/about-us/about_us';
@use './pages/about-us/about_fun.scss';
@use './pages/rooms/room';
@use './pages/offers/offers';
@use './pages/room_details/room_details';
@use './pages/contact/contact';
.wrapper {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper2 {
  max-width: 73.75rem;
  margin-left: auto;
  margin-right: auto;
}
.old {
  font-family: 'Old Standard TT';
  font-weight: 400;
  letter-spacing: -0.075rem;
}
.title {
  font-size: clamp(0.8125rem, 2vw, 1rem);
  font-weight: 700;
  // margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 0.175rem;
}
.roboto {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.5rem;
  // text-align: center;
  color: var(--gary-color);
}
.button {
  color: var(--white-color);
  background-color: var(--tbn-color);
  width: 13.5rem;
  height: 3.75rem;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.swiper {
  max-width: 80rem;
  height: 600px;
}
.swiper-wrapper {
}
.slider__item {
  padding: 1rem;
}
.swiper-button-prev,
.swiper-button-next {
  background-color: var(--white-color);
  height: 2rem;
  width: 2rem;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}
